h1{
    width: 970px;
    height: 30px;
    margin-left: 160px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;
    

}

h2{
    color: white;
    width: 500px;
    height: 40px;
    left: 123px;
    top: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-right: 320px;
    cursor: default;
}

li{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

p{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.header-a-1
{
color: white;
width: 370px;
height: 13px;
margin: 30px 50px 41px 0px;

font-family: Roboto;
font-size: 15px;
line-height: 18px;
}
.header-a-1:hover
{
    color: var(--bright-blue);
}

.header-a-2
{
color: white;
width: 210px;
height: 13px;
margin: 30px 50px 41px 0px;
font-family: Roboto;
font-size: 15px;
line-height: 18px;
}

.header-a-2:hover
{
    color: var(--bright-blue);
}

.nav-a
{
    color: black;
}

.nav-a:hover
{
    color: var(--bright-blue);
}

.photo
{
    color: var(--bright-blue);
} 

.text{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 23px;
color: #000000;
}

.text-ul{
    font-size: 19px;
}