@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,200&family=Roboto&family=Rubik:wght@600&display=swap');

:root{
    --dark-blue:#0F2940;
    --bright-blue:#4C8CA1;
    --cyan-blue:#EBF4F7;
}

*{
    box-sizing: border-box;
}

body{
margin: 0;
}



main{
    display: grid;
    max-width: 1300px;
    /* height: 1000px; */
    margin: 0 auto;
    /* border: solid; */
   
}

header{
height: 95px;
left: 0px;
top: 0px;
background: var(--dark-blue);

}

#header-wrap
{
    width: 1640px;
    padding: 10px;
    height: 95px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background:var(--dark-blue);

}

nav{
    height: 50px;
    background: var(--cyan-blue);

}

#nav-wrap
{
    width: 1640px;
    height: 50px;
    margin: 0 auto;
    background:var(--cyan-blue);
    display: flex;
    justify-content: space-evenly;
   
}

.logo-img
{
width: 70px;
height: 70px;
margin-right: 42px;
}

#nav-ul{
margin: 0;
padding:13px;
display: flex;
}


a{
    text-decoration: none;
}

.slide{
    list-style: none;
    width: 250px;
height: 25px;
margin-left: 10px;
display: flex;
justify-content: center;
}

.nav-li{
    list-style: none;
    width: 250px;
height: 25px;
margin-left: 10px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
justify-content: center;
}

#slider {
    float:left;
    width:860px;
    height:400px !important;
    background:transparent;
    margin: 40px 0 30px 465px;
    position:relative;
    z-index:1;
    
    }
    
    #slideshow{
    float:left;
    width:860px;
    height:400px !important;
    background:transparent;
    position:relative;
    z-index:1;
    }
    
    .slideshowlite {
    width: 860px;
    height: 400px;
    background:transparent;
    padding:4px 0px 0px 0px;
    }

    .slideshowlite a {
    position:absolute;
    left:0;
    z-index: 5;
    text-align:left;
    
    }
    
    .slideshowlite img {
    border: 0px solid #e9e9e9;
    height: 100%;
    width: 100%;
    margin:0 0 0 0px;
    
    }
    
    /* pagination control*/
    .slideshowlite ul,
    .slideshowlite ol {
    position: absolute;
    margin-top: 365px;
    right:25px !important;
    z-index: 3; 
    list-style-type:none ;
    
    }
    
    .slideshowlite ul li,
    .slideshowlite ol li {
    float: left;
    width: 12px;
    padding: 0 10px ;
    list-style-type:none ;
    
    }
    
    .slideshowlite ul li a {
    background:#e9e9e9;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    text-decoration: none;
    text-align: center !important;
    font-size: 13px;
    font-weight: bold;
    color: #968988 !important;
    
    
    }
    
    .slideshowlite ul li a.current {
    color: #fff !important;
    list-style-type:none;
    background:#91959a;
    
    }
    
    .slideshowlite ul li a:hover {
    color: #fff !important;
    list-style-type:none;
    background:#91959a;
    
    }
    
    .slideshowlite ol {
    display: none;
    }
    

#headline-photo
{
   
    width: 1290px;
    height: 85px;
    left: 0px;
    top: 0px;
    margin: auto;
    background: #0F212B;
    border-radius: 10px;
}

#img-wrappers
{
    margin: 74px 0px 74px 0px;
    display: flex;
    justify-content: space-evenly;
}

.text-wrapper
{
    width: 1290px;
height: 1021px;
left: 0px;
top: 545px;
padding: 0px 65px;

}